.hero-section {
    background: url('DD company logo 1.jpg') no-repeat center center/cover;
    color: #fff;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 70px;
    background-size: cover;
}

.company-logo {
    max-width: 100%;
    height: auto;
}
